{
  "extends": "@ralysa/tsconfig/lib-isomorphic.json",
  "compilerOptions": {
    "noEmit": false,
    "emitDeclarationOnly": true,
    "outDir": "${configDir}/.tsc",
    "tsBuildInfoFile": "${configDir}/.tsc/tsconfig.tsbuildinfo"
  },
  "include": ["src", "test", "*.config.ts"]
}
